/* reset */

*
{
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.25em; text-align: center; text-transform: uppercase; }
h3 { font: bold 100% sans-serif; text-align: center; text-transform: uppercase; }
h5 { text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */

header { margin: 0 0 2em; text-align: center; }
header:after { clear: both; content: ""; display: table; }

header address { font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.5em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }

/* article */
article, article address, table.meta, table.description { margin: 0 0 1em; }
article:after { clear: both; content: ""; display: table; }
article address { float: left; font-size: 125%; font-weight: bold; }

/* table recipient */
table.recipient { float: left; width: 50%; }
table.recipient:after { clear: both; content: ""; display: table; }
table.recipient th { width: 40%; }
table.recipient td { width: 60%; }

/* table meta & total */

table.meta, table.total { float: right; width: 45%; }
table.meta:after, table.total:after { clear: both; content: ""; display: table; }

/* table meta */
table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.description { clear: both; width: 100%; }
table.description th { font-weight: bold; text-align: center; }

/* table total */
table.total th, table.total td { width: 50%; }
table.total th { font-weight: bold; }
table.total td { text-align: right; }

@media print {
    * { -webkit-print-color-adjust: exact; }
    html { background: none; padding: 0; }
    body { box-shadow: none; margin: 0; }
    span:empty { display: none; }
}

@page { margin: 0; }

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#000;
    height: 1px;
}